<html>
<head>
</head>
<title> My Contacts</title>


<script src="Ajs/angular.min.js"></script>
<body ng-app="mainApp" ng-controller="ContactController">

    <div>
        <table>
            <tr>
                <td width="20px">
                    <label>Name</label>
                </td>
                <td>
                    <input type="text" ng-model="UserName" />
                </td>
            </tr>
            <tr>
                <td width="20px"><label>Mno</label></td>
                <td>	<input type="number" ng-model="UserNumber" /></td>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Save" ng-click="Submit()" />
                </td>
                </tr>
            </table>

    </div>
    <script>
        var mainApp = angular.module("mainApp", []);

        mainApp.controller('ContactController', function ($scope, $http) {
            $scope.Submit = function () {
                //read the xml 
                //read input
                //format input data
                //place in xml
                //save 
                alert('Hi');
                alert($scope.UserName);
               
            }
        });
    </script>
</body>
</html>